<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="KandyBaseUrl" value="https://api.kandy.io/v1.2/" />
    <add key="ApplicationAPIKey" value="<apikey>"/>
    <add key="ApplicationSecretKey" value="<secretkey>"/>
    <add key="DomainAPIKey" value="<domainkey>"/>
    <add key="DomainSecretKey" value="<domainsecretkey>"/>
  </appSettings>
</configuration>
